.dashboard-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* ... */
.main-content {
  flex-grow: 1;
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  min-width: 0; /* <-- Esta es la regla clave anti-errores */
  transition: margin-left 0.2s ease-out;
}
/* ... */

.main-content.content-shifted {
  margin-left: var(--sidebar-width);
  
  /* âŒ Ya no necesitamos 'width: calc(...)' */
}

.page-content {
  flex-grow: 1;
  padding: 0 24px 24px;
}